@font-face {
    font-family: 'GothamRounded-Medium';
    src: url('./fonts/gotham-rounded-medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded-Bold';
    src: url('./fonts/gotham-rounded-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded-Book';
    src: url('./fonts/gotham-rounded-book.otf');
    font-weight: normal;
    font-style: normal;
}
