.btn-back {
  padding-top: 70px;
}

.btn-submit {
  padding: 30px 50px;
}

.switch-teams {
  text-align: center;

  .btn-switch-teams {
    padding: 20px 40px;
    text-align: center;
  }
}



.team-list {
  text-align: center;
}
.col-team {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
}


.team-label {
  font-size: 20px;
}

.user-label {
  text-align: center;
  padding: 5px;
}

.form-submit {
  text-align: center;

  .word-label {
    text-align: left;
  }

}

.element-centered {
  text-align: center;
}
