.btn-game {
  padding: 20px 60px; }

.u-margin-70-0-0 {
  margin: 70px 0 0; }

.u-margin-30-0 {
  margin: 30px 0; }

.game-timer {
  font-size: 20px; }

.btn-back {
  padding-top: 70px; }

.btn-submit {
  padding: 30px 50px; }

.switch-teams {
  text-align: center; }
  .switch-teams .btn-switch-teams {
    padding: 20px 40px;
    text-align: center; }

.team-list {
  text-align: center; }

.col-team {
  vertical-align: top;
  display: inline-block;
  padding: 10px; }

.team-label {
  font-size: 20px; }

.user-label {
  text-align: center;
  padding: 5px; }

.form-submit {
  text-align: center; }
  .form-submit .word-label {
    text-align: left; }

.element-centered {
  text-align: center; }

.colour-babyBlue {
  color: #00cbff; }

.colour-red {
  color: red; }

.colour-grey {
  color: #a29292; }

.colour-white {
  color: white; }

.colour-yellow {
  color: #f7c5ff; }

.colour-green {
  color: #2cc36b; }

.bg-colour-babyBlue {
  background-color: #00cbff; }

.bg-colour-red {
  background-color: red; }

.bg-colour-grey {
  background-color: #a29292; }

.bg-colour-white {
  background-color: white; }

.bg-colour-yellow {
  background-color: #f7c5ff; }

.bg-colour-green {
  background-color: #2cc36b; }

.u-textCenter {
  text-align: center; }

.u-textRight {
  text-align: right; }

.u-textUppercase {
  text-transform: uppercase; }

.u-margin-0-auto {
  margin: 0 auto; }

.u-display-block {
  display: block; }

.u-display-inlineBlock {
  display: inline-block; }

.u-display-block {
  display: block; }

.u-padding-10-0 {
  padding: 10px 0; }

.u-padding-10 {
  padding: 10px; }

.u-padding-10-20 {
  padding: 10px 20px; }

.u-padding-20 {
  padding: 20px; }

.u-width-100 {
  width: 100%; }

.u-height-100 {
  height: 100%; }

.u-fontSize-36 {
  font-size: 36px; }

.u-fontSize-28 {
  font-size: 28px; }

.u-fontSize-14 {
  font-size: 14px; }

.u-fontSize-18 {
  font-size: 18px; }

.u-fontSize-48 {
  font-size: 48px; }

.u-fontSize-30 {
  font-size: 30px; }

.u-fontGotham-Bold {
  font-family: 'GothamRounded-Bold'; }

.u-fontGotham-Medium {
  font-family: 'GothamRounded-Medium'; }

.u-fontGotham-Book {
  font-family: 'GothamRounded-Book'; }

.u-display-flex {
  display: flex; }

.u-flex-column {
  flex-direction: column; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.u-margin-10 {
  margin: 10px; }

.u-margin-0-auto {
  margin: 0 auto; }

.u-marginBottom-10 {
  margin-bottom: 20px; }

.u-border-none {
  border: none; }

.main {
  height: 100vh; }

.u-opacity-03 {
  opacity: 0.3; }

.u-border-standard {
  border: 1px solid #a29292; }

.u-border-babyBlue {
  border: 1px solid #00cbff; }

.u-border-red {
  border: 1px solid red; }

.u-box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); }

.u-border-radius-10 {
  border-radius: 10px; }

a {
  color: white; }

.c-btn {
  font-family: 'GothamRounded-Medium';
  border-radius: 10px;
  font-size: 28px;
  padding: 20px;
  border: none;
  width: 100%; }

.c-btn-red {
  background-color: red;
  color: white; }
  .c-btn-red:hover {
    background-color: #e60000;
    color: #f2f2f2; }

.c-btn-whiteBlue {
  background-color: white;
  color: #00cbff; }
  .c-btn-whiteBlue:hover {
    background-color: #f2f2f2;
    color: #00b7e6; }

.c-btn-whiteGrey {
  background-color: white;
  color: #a29292; }
  .c-btn-whiteGrey:hover {
    background-color: #f2f2f2;
    color: #968484; }

.c-btn-whiteGrey {
  background-color: white;
  color: #a29292; }
  .c-btn-whiteGrey:hover {
    background-color: #f2f2f2;
    color: #968484; }

.c-btn-transparentBlue {
  background-color: transparent;
  color: #00cbff; }
  .c-btn-transparentBlue:hover {
    background-color: transparent;
    color: #00b7e6; }

.c-btn-babyBlueWhite {
  background-color: #00cbff;
  color: white; }
  .c-btn-babyBlueWhite:hover {
    background-color: #00b7e6;
    color: #f2f2f2; }

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #a29292; }

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #a29292; }

md-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0; }

.circle-90 {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px; }

.circle-100 {
  width: 100px;
  height: 99px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

button[disabled] {
  background-color: transparent !important;
  color: #a29292; }
