<div layout="column">
  <div flex>
    <md-content layout-gt-sm="column" layout-padding>
      <form ng-submit="$ctrl.createGame()">
        <h4 style="margin: 0;">Creating a game...</h4>
        <md-input-container>
          <label>What's your name?</label>
          <input ng-model="$ctrl.user.name">
          <md-button class="md-raised md-primary" ng-click="$ctrl.createGame()" ng-disabled="$ctrl.isLoading">
            Create
          </md-button>
        </md-input-container>
      </form>
    </md-content>
    <md-button href="/" class="md-raised" ng-disabled="$ctrl.isLoading">
      Back
    </md-button>
  </div>
</div>