<div ng-if="!$ctrl.everyoneInGame() && !$ctrl.room.gameStatus.readyForNewGame">
  Waiting for everyone to press start
</div>

<div class="element-centered" ng-if="$ctrl.everyoneInGame()">
  <div>
    ROUND: {{ $ctrl.room.gameStatus.round }}
  </div>
  <div>
    <span>Team One: {{$ctrl.getScore()[0]}} </span>
    <span>Team Two: {{$ctrl.getScore()[1]}} </span>

  </div>
  <div ng-if="$ctrl.room.gameStatus.timer">
    <timer class="game-timer" interval="1000" countdown="2">{{countdown}}</timer>
  </div>
  <div ng-if="!$ctrl.room.gameStatus.timer && $ctrl.isPlayersTurn() && !$ctrl.room.gameStatus.endTurn">
    <md-button class="btn-game md-raised md-primary" ng-click="$ctrl.startTimer()">Start Timer</md-button>
  </div>
  <div>
    <h2>{{ $ctrl.room.gameStatus.teamTurn }}</h2>
  </div>
  <div>
    <div ng-repeat="player in $ctrl.room.gameStatus.turnOrder track by $index">
      <li ng-if="$index === $ctrl.room.gameStatus.playerTurn">
        <h3>{{ $ctrl.getUserName(player.userId) }}</h3>
      </li>
      <li ng-if="$index !== $ctrl.room.gameStatus.playerTurn">
        {{ $ctrl.getUserName(player.userId) }}
      </li>
    </div>
  </div>
  <div ng-if="$ctrl.isPlayersTurn()">
    <div class="u-margin-30-0" ng-if="$ctrl.room.gameStatus.timer">
      <md-button class="btn-game md-raised" ng-click="$ctrl.gotIt()">
        Got it!
      </md-button>
    </div>
    <div class="u-margin-30-0" ng-if="$ctrl.room.gameStatus.timer">
      <h1 ng-if="!$ctrl.noWordsLeft()"> {{ $ctrl.getWord() }} </h1>
      <h1 ng-if="$ctrl.noWordsLeft()"> NO MORE WORDS! </h1>
      <md-button class="btn-game md-raised md-primary" ng-click="$ctrl.nextWord()" ng-if="!$ctrl.room.gameStatus.endTurn">
        Pass
      </md-button>
    </div>
    <div class="u-margin-30-0" ng-if="$ctrl.room.gameStatus.endTurn">
      <md-button ng-if="$ctrl.isLastPlayer()" class="btn-game md-primary" ng-click="$ctrl.nextRound()">
        <span ng-if="!($ctrl.room.gameStatus.round === 3)">Next Round</span>
        <span ng-if="($ctrl.room.gameStatus.round === 3)">New Game</span>
      </md-button>

    </div>

    <div class="u-margin-70-0-0" ng-if="$ctrl.room.gameStatus.endTurn">
      <md-button ng-if="!$ctrl.isLastPlayer()" class="btn-game md-primary" ng-click="$ctrl.nextPlayersTurn()">
        Next Player
      </md-button>
    </div>
  </div>
</div>

<div>
  <md-button ng-if="$ctrl.room.gameStatus.readyForNewGame" class="btn-game md-primary" ng-click="$ctrl.goBackToRoom()">
    <span>New Game</span>
  </md-button>
</div>


