<div ng-if="!$ctrl.isEveryoneStarted() && !$ctrl.roomData.status.ended"
     class="u-display-flex u-flex-column u-height-100">
    <div class="flex-1">
    </div>
    <div class="flex-1 u-textCenter u-fontGotham-Medium colour-grey u-fontSize-30"
         ng-bind="'Waiting for everyone to press start'">
    </div>
    <div class="flex-1">
    </div>
</div>

<div ng-if="$ctrl.isEveryoneStarted()"
     class="u-textCenter u-height-100 bg-colour-white">
    <div class="u-display-flex">
        <div class="flex-1 u-padding-20">
            <div ng-bind="$ctrl.roomData.status.score[0]"
                 class="u-margin-0-auto u-padding-10 colour-babyBlue u-fontGotham-Bold u-box-shadow u-fontSize-28">
            </div>
        </div>
        <div class="flex-1">
            <div
                ng-class="{ 'circle-901': !$ctrl.roomData.status.timer, 'u-box-shadow1': !$ctrl.roomData.status.timer }"
                class="colour-babyBlue u-fontGotham-Book bg-colour-white u-fontSize-48 u-margin-0-auto">
                <span ng-if="!$ctrl.roomData.status.timer"
                      ng-bind="$ctrl.roomData.status.round"
                      ng-style="{ 'vertical-align': '-19px' }">
                </span>
                <span ng-if="$ctrl.roomData.status.timer">
                    <timer class="u-fontSize-48 colour-red"
                           ng-style="{ 'vertical-align': '-19px' }"
                           interval="1000"
                           countdown="60">
                        {{ countdown }}
                    </timer>
                </span>
            </div>
        </div>
        <div class="flex-1 u-padding-20">
            <div ng-bind="$ctrl.roomData.status.score[1]"
                 class="u-margin-0-auto u-padding-10 colour-babyBlue u-fontGotham-Bold u-box-shadow u-fontSize-28">
            </div>
        </div>
    </div>
    <div class="u-display-flex u-flex-column"
         ng-style="{ 'height': 'calc(100% - 102px'}">
        <div ng-if="!($ctrl.isPlayersTurn() && $ctrl.roomData.status.timer)"
             class="flex-1 u-padding-10">
            <div ng-repeat="player in $ctrl.roomData.status.turnOrder track by $index">
                <div ng-if="player.turn"
                     class="u-fontSize-36 u-fontGotham-Bold"
                     ng-bind="player.userName"
                     ng-class="{ 'colour-babyBlue': player.teamOne, 'colour-grey':  !player.teamOne }">
                </div>
                <div ng-if="!player.turn"
                     class="u-fontSize-18 u-fontGotham-Medium">
                     <span ng-bind="player.userName"
                           ng-class="{ 'colour-babyBlue': player.teamOne, 'colour-grey':  !player.teamOne }">
                     </span>
                </div>
            </div>
        </div>
        <div class="flex-1"
             ng-if="$ctrl.isPlayersTurn() && $ctrl.roomData.status.timer">
            <div class="u-height-100 u-display-flex">
                <div class="flex-1"></div>
                <div class="u-height-100"
                     ng-style="{ 'flex': '10' }">
                    <div class="u-border-red u-padding-10"
                         ng-style="{ 'border-radius': '14px', 'height': 'calc(100% - 20px)' }">
                        <div class="bg-colour-red u-height-100"
                             ng-style="{ 'border-radius': '7px' }">
                            <div class="u-display-flex u-flex-column u-height-100">
                                <div class="flex-3"></div>
                                <div class="colour-white u-fontSize-30 u-fontGotham-Book flex-2">
                                    <div ng-if="$ctrl.getActiveIndices().length">
                                        <div ng-if="1 === $ctrl.getActiveIndices().length"
                                             ng-bind="'(Last word)'">
                                        </div>
                                        <div ng-bind="$ctrl.getWord()">
                                        </div>
                                    </div>
                                    <div ng-if="!$ctrl.getActiveIndices().length"
                                         ng-bind="'NO MORE WORDS!'">
                                    </div>
                                </div>
                                <div class="flex-3 u-flex-column"
                                     ng-style="{ 'position': 'relative'}">
                                    <div class="u-display-flex"
                                         ng-style="{ 'position': 'absolute', 'bottom': '0', 'left': '0', 'right': '0', 'padding-bottom': '10px' }">
                                        <div ng-if="$ctrl.getActiveIndices().length"
                                             class="flex-1 u-display-flex">
                                            <div class=flex-1></div>
                                            <div class="flex-2">
                                                <button ng-if="!$ctrl.isLoadingPass"
                                                        ng-style="{ 'background-color': 'transparent', 'border': 'none' }"
                                                        ng-click="$ctrl.passWord()">
                                                    <md-icon md-svg-icon="pass" aria-label="Pass"
                                                             ng-style="{ 'height': '100px', 'width': '100px' }">
                                                    </md-icon>
                                                </button>
                                                <button ng-if="$ctrl.isLoadingPass"
                                                        ng-style="{ 'background-color': 'transparent', 'border': 'none' }">
                                                    <md-icon md-svg-icon="pass" aria-label="Pass"
                                                             ng-style="{ 'height': '100px', 'width': '100px' }">
                                                    </md-icon>
                                                </button>
                                            </div>
                                            <div class=flex-1></div>
                                        </div>
                                        <div ng-if="$ctrl.getActiveIndices().length"
                                             class="flex-1 u-display-flex">
                                            <div class=flex-1></div>
                                            <div class="flex-2">
                                                <button ng-if="!$ctrl.isLoading"
                                                        ng-style="{ 'background-color': 'transparent', 'border': 'none' }"
                                                        ng-click="$ctrl.gotIt()">
                                                    <md-icon md-svg-icon="gotIt" aria-label="Got It!"
                                                             ng-style="{ 'height': '100px', 'width': '100px' }">
                                                    </md-icon>
                                                </button>
                                                <button ng-if="$ctrl.isLoading"
                                                        ng-style="{ 'background-color': 'transparent', 'border': 'none' }"
                                                    <md-icon md-svg-icon="gotItGrey" aria-label="Got It!"
                                                             ng-style="{ 'height': '100px', 'width': '100px' }">
                                                    </md-icon>
                                                </button>
                                            </div>
                                            <div class=flex-1></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-1"></div>
            </div>
        </div>
        <div ng-if="$ctrl.isPlayersTurn()">
            <div class="u-padding-20">
                <div
                    ng-if="!$ctrl.roomData.status.timer && !$ctrl.isLastRoundAndNoMoreWords()">
                    <button ng-bind="'Start Timer'"
                            ng-disabled="$ctrl.isLoading"
                            ng-click="$ctrl.startTimer()"
                            class="c-btn u-marginBottom-10 c-btn-babyBlueWhite u-border-standard u-box-shadow u-fontGotham-Bold">
                    </button>
                </div>
                <div ng-if="!$ctrl.isLastPlayerAndLastTurn() && !$ctrl.isLastRoundAndNoMoreWords()">
                    <button ng-disabled="$ctrl.isLoadingNextPlayer"
                            ng-click="$ctrl.nextPlayersTurn()"
                            class="c-btn-whiteBlue u-border-babyBlue u-fontGotham-Bold u-padding-10 u-width-100 u-fontSize-18 u-border-radius-10">
                       <span ng-if="!$ctrl.isLastPlayer() && $ctrl.getActiveIndices().length"
                             ng-bind="'Next Player'">
                       </span>
                        <span ng-if="$ctrl.isLastPlayer() || !$ctrl.getActiveIndices().length"
                              ng-bind="'Next Round'">
                       </span>
                    </button>
                </div>
                <div class=""
                     ng-if="$ctrl.isLastPlayerAndLastTurn() || $ctrl.isLastRoundAndNoMoreWords()">
                    <button ng-bind="'New Game'"
                            ng-disabled="$ctrl.isLoadingNextPlayer"
                            ng-click="$ctrl.startNewGame($event)"
                            class="c-btn c-btn-red u-box-shadow u-fontGotham-Medium">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.roomData.status.ended && !$ctrl.isLoadingNextPlayer"
     class="u-display-flex u-flex-column u-padding-10 u-height-100">
    <div class="flex-1">
    </div>
    <div class="flex-1">
        <button ng-bind="'New Game'"
                ng-disabled="$ctrl.isLoading"
                ng-click="$ctrl.newGame()"
                class="c-btn c-btn-red u-box-shadow u-fontGotham-Medium">
        </button>
    </div>
    <div class="flex-1">
    </div>
</div>
